
<footer class="bg-gray-900 text-gray-400 pt-16 pb-8 ">
    <div class="flex flex-col max-w-6xl mx-auto px-6 lg:px-16 md:flex-row justify-between items-center gap-6 pb-10">

            <img src="./assets/logo.png" alt="FGT Logo" class="w-32">

            <div class="text-white flex items-center gap-4">
                <p class="font-semibold">Follow Us</p>
                <img src="./assets/Symbol1.png" alt="Social icon" class="w-5 h-5">
                <img src="./assets/Symbol2.png" alt="Social icon" class="w-5 h-5">
                <img src="./assets/Symbol3.png" alt="Social icon" class="w-5 h-5">
                <img src="./assets/Symbol4.png" alt="Social icon" class="w-5 h-5">
            </div>

        </div>
    
    
    <div class="border-t border-gray-700 mt-12 pt-6 text-center text-sm">
        © 2026 Estate, Trust & Elder Law Firm. All Rights Reserved.
    </div>

</footer>

